@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

div {
  border: 1px solid red;
  min-height: 1rem;
  min-width: 1rem;
  padding: 2px;
}

div > div {
  border: 1px solid olivedrab;
  margin: 5px;
}

div > div > div {
  border: 1px solid rgb(35, 142, 137);
}

div > div > div > div {
  border: 1px solid rgb(117, 35, 142);
}

div > div > div > div > div {
  border: 1px solid rgb(142, 92, 35);
}

body {
  background-color: #1a1a19;
  font-family: 'Space Mono', monospace;
  color: rgb(145, 253, 159);
  text-shadow: 0 0 4px rgb(86, 221, 104), 0 0 8px rgb(57, 207, 77);
}

.main-area {
  min-width: 20rem;
  max-width: 35rem;
}

.hero-container {
  display: flex;
  min-height: 10rem;
}

.high-low {
  display: flex;
}

.switch-container {
  display: flex;
}

.current-temp {
  font-size: 4rem;
}
