@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Share+Tech+Mono&display=swap');

div {
  border: 1px solid rgb(255, 0, 0);
  min-height: 1rem;
  min-width: 1rem;
  padding: 2px;
  box-shadow: 0 0 3px red, inset 0 0 3px red;
}

div > div {
  border: 1px solid olivedrab;
  margin: 5px;
  box-shadow: 0 0 3px olivedrab, inset 0 0 3px olivedrab;
}

div > div > div {
  border: 1px solid rgb(35, 142, 137);
  box-shadow: 0 0 3px rgb(35, 142, 137), inset 0 0 3px rgb(35, 142, 137);
}

div > div > div > div {
  border: 1px solid rgb(117, 35, 142);
  box-shadow: 0 0 3px rgb(117, 35, 142), inset 0 0 3px rgb(117, 35, 142);
}

div > div > div > div > div {
  border: 1px solid rgb(142, 92, 35);
  box-shadow: 0 0 3px rgb(142, 92, 35), inset 0 0 3px rgb(142, 92, 35);
}

body {
  background-color: #1a1a19;
  font-family: 'Share Tech Mono', monospace;
  color: rgb(145, 253, 159);
  text-shadow: 0 0 4px rgb(86, 221, 104), 0 0 8px rgb(57, 207, 77);
}

button {
  background-color: #4b4b48;
  color: rgb(145, 253, 159);
  border-color: rgb(35, 142, 137);
  font-family: 'Share Tech Mono', monospace;
}

input {
  margin: 5px;
  background-color: #1a1a19;
  color: rgb(145, 253, 159);
  border-color: rgb(35, 142, 137);
  box-shadow: 0 0 3px rgb(35, 142, 137);
  font-family: 'Share Tech Mono', monospace;
}

input:focus {
  outline: none !important;
  border: 2px rgb(55, 189, 182);
  border-style: solid;
  box-shadow: 0 0 6px rgb(32, 112, 108), inset 0 0 6px rgb(32, 112, 108);
}

.main-area {
  min-width: 20rem;
  max-width: 38rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  min-height: 10rem;
}

.high-low {
  display: flex;
  flex-wrap: wrap;
}

.high-low > div {
  flex-shrink: 0;
}

.switch-container {
  display: flex;
}

.current-temp {
  font-size: 4rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  font-family: 'Overpass Mono';
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
  background-color: #2b2b29;
  border: 1px solid;
  box-shadow: 0 0 3px rgb(36, 202, 133);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  top: 2px;
  content: ':)';
  height: 21px;
  width: 23px;
  left: 2px;
  bottom: 4px;
  background-color: #1a1a19;
  border: 1px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: scaleX(1);
  text-align: center;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px), scaleX(-1);
}

input:checked + .slider:after {
  transform: scaleX(1);
}
